@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

/* styles for background. local image used as background */
body {
    background-image: url("../images/escher-background.jpg");
    float: left;
    background-color: black;
   }

/* container */
.container {
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    margin: 20px;
    padding: 10px;
}

/* jumbotron contains all functional components on the page */
.jumbotron {
    background: lightcyan;
    margin: 10px 10px 0px 10px !important;
    padding: 10px !important;
}

/* questions div */
#questions {
    display: none;
}

/* div containing timer */
#timer {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

/* submit button div */
#submit {
    margin: 10px;
    padding: 10px;
    display: none;
}

/* game result displayed div */
#result {
    background-color: lightcyan;
    margin: 10px;
    padding: 10px;
}

/* form styles */
.questionForm {
    background-color: rgb(164, 216, 216);
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
}

.answer {
    margin: 5px;
    padding: 5px;
}

h3 {
    margin:5px;
    padding: 5px;
}