.container {
    background-color: black;
    margin: 20px;
    padding: 10px;
}

.jumbotron {
    background: seashell;
    margin: 10px 10px 0px 10px !important;
    padding: 10px !important;
}

#questions {
    display: none;
}

#timer {
    font-size: 20px;
}

#submit {
    display: none;
}

#result {
    background-color: seashell;
    margin: 10px;
    padding: 10px;
}

